article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: black;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.67em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: yellow;
  color: black; }

p,
pre {
  margin: 1em 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before,
q:after {
  content: "";
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

menu,
ol,
ul {
  padding: 0 0 0 40px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background: navy; }

#outercontainer {
  position: fixed;
  background: white;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

#maincontainer {
  overflow: hidden; }

body {
  font-family: "Montserrat", "Verdana", "Arial", sans-serif; }

.hkwebdev {
  color: gray;
  font-family: "Montserrat", "Verdana", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

article {
  position: absolute;
  top: 4%;
  left: 3%;
  width: 94%;
  height: 100%;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  z-index: 10; }
  article > * > * {
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0; }
  article ul, article li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left; }
  article ul {
    display: inline-block;
    font-size: 1em; }
  article .sub, article .example {
    color: darkgrey;
    font-size: 0.8em; }
  article .sub {
    padding-left: 1.5em; }
  article .example a, article .example a:hover {
    color: darkgrey;
    text-decoration: none; }
  article .example a:hover {
    text-decoration: underline; }

article.active {
  z-index: 20; }
  article.active > * > *:nth-child(1) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.2s;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s; }
  article.active > * > *:nth-child(2) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -moz-transition-delay: 0.25s; }
  article.active > * > *:nth-child(3) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s; }
  article.active > * > *:nth-child(4) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.35s;
    -webkit-transition-delay: 0.35s;
    -moz-transition-delay: 0.35s; }
  article.active > * > *:nth-child(5) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s; }
  article.active > * > *:nth-child(6) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.45s;
    -webkit-transition-delay: 0.45s;
    -moz-transition-delay: 0.45s; }
  article.active > * > *:nth-child(7) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s; }
  article.active > * > *:nth-child(8) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.55s;
    -webkit-transition-delay: 0.55s;
    -moz-transition-delay: 0.55s; }
  article.active > * > *:nth-child(9) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.6s;
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s; }
  article.active > * > *:nth-child(10) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.65s;
    -webkit-transition-delay: 0.65s;
    -moz-transition-delay: 0.65s; }
  article.active > * > *:nth-child(11) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.7s;
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s; }
  article.active > * > *:nth-child(12) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.75s;
    -webkit-transition-delay: 0.75s;
    -moz-transition-delay: 0.75s; }
  article.active > * > *:nth-child(13) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.8s;
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s; }
  article.active > * > *:nth-child(14) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.85s;
    -webkit-transition-delay: 0.85s;
    -moz-transition-delay: 0.85s; }
  article.active > * > *:nth-child(15) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.9s;
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s; }
  article.active > * > *:nth-child(16) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 0.95s;
    -webkit-transition-delay: 0.95s;
    -moz-transition-delay: 0.95s; }
  article.active > * > *:nth-child(17) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1s;
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s; }
  article.active > * > *:nth-child(18) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.05s;
    -webkit-transition-delay: 1.05s;
    -moz-transition-delay: 1.05s; }
  article.active > * > *:nth-child(19) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.1s;
    -webkit-transition-delay: 1.1s;
    -moz-transition-delay: 1.1s; }
  article.active > * > *:nth-child(20) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.15s;
    -webkit-transition-delay: 1.15s;
    -moz-transition-delay: 1.15s; }
  article.active > * > *:nth-child(21) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.2s;
    -webkit-transition-delay: 1.2s;
    -moz-transition-delay: 1.2s; }
  article.active > * > *:nth-child(22) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -moz-transition-delay: 1.25s; }
  article.active > * > *:nth-child(23) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.3s;
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s; }
  article.active > * > *:nth-child(24) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.35s;
    -webkit-transition-delay: 1.35s;
    -moz-transition-delay: 1.35s; }
  article.active > * > *:nth-child(25) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.4s;
    -webkit-transition-delay: 1.4s;
    -moz-transition-delay: 1.4s; }
  article.active > * > *:nth-child(26) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.45s;
    -webkit-transition-delay: 1.45s;
    -moz-transition-delay: 1.45s; }
  article.active > * > *:nth-child(27) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.5s;
    -webkit-transition-delay: 1.5s;
    -moz-transition-delay: 1.5s; }
  article.active > * > *:nth-child(28) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.55s;
    -webkit-transition-delay: 1.55s;
    -moz-transition-delay: 1.55s; }
  article.active > * > *:nth-child(29) {
    opacity: 1;
    transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: opacity 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition-delay: 1.6s;
    -webkit-transition-delay: 1.6s;
    -moz-transition-delay: 1.6s; }

article.intro ul {
  display: inline-block;
  font-size: 0.8em; }

footer.credits {
  height: 31px;
  position: fixed;
  bottom: 15px;
  right: 13px; }
  footer.credits ul, footer.credits li {
    list-style: none;
    margin: 0;
    padding: 0; }
  footer.credits li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px; }
  footer.credits span {
    display: block; }
  footer.credits .hkwebdev {
    font-size: 15px; }
  footer.credits .logo {
    background: url("./../img/ss-common.png") no-repeat; }
  footer.credits .imagination {
    width: 73px;
    height: 20px; }
  footer.credits .meetup {
    width: 42px;
    height: 31px;
    background-position: -77px 0; }
