<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>JQuery Lite</title>

    <script src="./../js/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="main.js"></script>
</head>
<body>
    <div ng-controller="myController">

        Hello World

        <br><br>

        <pre>{{ coods }}</pre>

    </div>
</body>
</html>