<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Dependency Injection &amp; Event Bus</title>

    <script src="./../js/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="main.js"></script>
</head>
<body>
    <div ng-controller="myController">

        <!--<button ng-click="start();">Start</button>-->
        <!--<button ng-click="stop();">Stop</button>-->

        <!--<br><br>-->
        <!--Counter: {{ count }}-->

    </div>
</body>
</html>