<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Data Bindings</title>

    <script src="./../js/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="main.js"></script>
</head>
<body>
    <div ng-controller="myController">

        <!--{{ myVar }}-->

        <br><br>

        <!--<input type="text" ng-model="myVar">-->

        <br><br>

        <!--{{ counter }}-->

        <br><br>

        <!--<input type="number" ng-model="counter" min="0" max="7">-->

        <br><br>

        <!--<ul>-->
            <!--<li ng-class="{ active: counter == 1 }">list item 1</li>-->
            <!--<li ng-class="{ active: counter == 2 }">list item 2</li>-->
            <!--<li ng-class="{ active: counter == 3 }">list item 3</li>-->
            <!--<li ng-class="{ active: counter == 4 }">list item 4</li>-->
            <!--<li ng-class="{ active: counter == 5 }">list item 5</li>-->
            <!--<li ng-class="{ active: counter == 6 }">list item 6</li>-->
            <!--<li ng-class="{ active: counter == 7 }">list item 7</li>-->
        <!--</ul>-->

    </div>
</body>
</html>