html
  background: navy
#outercontainer
  $pad: 10px
  position: fixed
  background: white
  top: $pad
  left: $pad
  right: $pad
  bottom: $pad
  @include rounded-border($pad)

#maincontainer
  overflow: hidden