// Footer
footer.credits
  height: 31px
  position: fixed
  bottom: 15px
  right: 13px
  ul, li
    list-style: none
    margin: 0
    padding: 0
  li
    display: inline-block
    vertical-align: middle
    margin: 0 5px
  span
    display: block
  .hkwebdev
    font-size: 15px
  .logo
    background: $ss-common
  .imagination
    width: 73px
    height: 20px
  .meetup
    width: 42px
    height: 31px
    background-position: -77px 0