@import "normalize"
@import "mixins"

// Vars
$ss-common: url("./../img/ss-common.png") no-repeat
$mainFont: 'Montserrat', 'Verdana', 'Arial', sans-serif
$normalWeight: 400
$boldWeight: 700

$easeQuadOut: cubic-bezier(0.455, 0.030, 0.515, 0.955)
$easeExpoOut: cubic-bezier(0.190, 1.000, 0.220, 1.000)

// Container
@import "container"

// Core
body
  font-family: $mainFont

.hkwebdev
  color: gray
  font:
    family: $mainFont
    weight: $boldWeight
  text-transform: uppercase

// Slides
article
  position: absolute
  top: 4%
  left: 3%
  width: 94%
  height: 100%
  font-size: 2em
  line-height: 1.5em
  text-align: center
  z-index: 10
  >*>*
    @include opacity(0)
    @include transition(opacity, .2s, $easeQuadOut)
  ul, li
    margin: 0
    padding: 0
    list-style: none
    text-align: left
  ul
    display: inline-block
    font-size: 1em
  .sub, .example
    color: darkgray
    font-size: .8em
  .sub
    padding-left: 1.5em
  .example
    a, a:hover
      color: darkgray
      text-decoration: none
    a:hover
      text-decoration: underline
article.active
  z-index: 20
  $i: 1
  @while $i < 30
    >*>*:nth-child(#{$i})
      @include opacity(1)
      @include transition(opacity, .6s, $easeQuadOut, (.05s * $i) + .15s)
    $i: $i + 1

article.intro
  ul
    display: inline-block
    font-size: .8em


// Footer
@import "footer"