@mixin rounded-border($rad)
  -webkit-border-radius: $rad
  border-radius: $rad

@mixin vertGrad ($start, $end)
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end))

@mixin transition ($prop, $dur, $ease:ease-out, $delay:0)
  @if $prop
    transition: $prop $dur $ease
    -webkit-transition: $prop $dur $ease
    -moz-transition: $prop $dur $ease
  @if $delay
    transition-delay: $delay
    -webkit-transition-delay: $delay
    -moz-transition-delay: $delay

@mixin opacity ($val)
  opacity: $val