<article ng-class="{active: slides.index == 0}">
    <header>
        <h1>HK WEB DEVELOPERS</h1>
    </header>
    <br>
    <ul>
        <li><img src="./img/imagination_logo.png"></li>
    </ul>
    <br>
    <br>
    <div>
        <h2>Drinks are on US!</h2>
    </div>
</article>

<article class="intro" ng-class="{active: slides.index == 1}">
    <header>
        <img src="./img/AngularJS-large.png">
        <h1>Part 1: Basics</h1>
    </header>
    <ul>
        <li>Wednesday 31st July 2013, 7:00 PM</li>
        <li>Culture Club Gallery</li>
        <li>15 Elgin St</li>
        <li>Central, Hong Kong</li>
    </ul>
</article>

<article ng-class="{active: slides.index == 2}">
    <header>
        <h1>What is Angular JS</h1>
    </header>
    <ul>
        <li>Javascript Framework</li>
        <li class="sub">Why do we need one?</li>
        <li>Alternatives</li>
        <li class="sub">BackboneJS, Ember</li>
        <li>JQuery</li>
        <li class="sub">JQLite</li>
        <li>Extend HTML</li>
        <li class="sub">Directives, Filters, Services, Controllers</li>
    </ul>
</article>

<article ng-class="{active: slides.index == 3}">
    <header>
        <h1>Powerful Features</h1>
    </header>
    <ul>
        <li>Data Binding</li>
        <li>Dependency Injection</li>
        <li>Internal Event Bus</li>
        <li>Built-in JQLite</li>
        <br />
        <li>Test Framework</li>
    </ul>
</article>

<article ng-class="{active: slides.index == 4}">
    <header>
        <h1>What is Data Binding</h1>
    </header>
    <ul>
        <li>2 way syncronized bound data</li>
        <li>Updates automatically **</li>
        <li>Can be updated</li>
        <br />
        <li class="example">
            <a href="./../exp-1-data-binding/" target="_blank">example</a>
        </li>
    </ul>
</article>

<article ng-class="{active: slides.index == 5}">
    <header>
        <h1>Dependency Injection</h1>
    </header>
    <ul>
        <li>Allows modules to be injected<br />via internal mapping</li>
        <li>Internal & Custom modules</li>
        <li class="sub">$scope, $element, $rootScope (Event Bus)</li>
        <li>Custom</li>
        <li class="sub">Services</li>
        <br />
        <li class="example">
            <a href="./../exp-2-dep-injection/" target="_blank">example</a>
        </li>
    </ul>
</article>

<article ng-class="{active: slides.index == 6}">
    <header>
        <h1>JQLite</h1>
    </header>
    <ul>
        <li>$element</li>
        <li>angular.element(DOM)</li>
        <li class="sub">similar to: $(selector)</li>
        <br />
        <li>Selectors not available</li>
        <li class="sub">document.childNodes</li>
        <li class="sub">document.querySelectorAll</li>
        <br />
        <li class="example">
            <a href="./../exp-3-jqlite/" target="_blank">example</a>
        </li>
    </ul>
</article>

<article ng-class="{active: slides.index == 7}">
    <header>
        <h1>Angular Core</h1>
    </header>
    <ul>
        <li>Controllers, Services</li>
        <li>Filters, Directives</li>
        <li>ngApp</li>
        <li>ngRepeat</li>
        <br />
        <li>Routing / ngView</li>
        <br />
        <li class="example">
            <a href="./../exp-4-core/" target="_blank">example</a>
        </li>
    </ul>
</article>


<article ng-class="{active: slides.index == 8}">
    <header>
        <h1>Thank You</h1>
    </header>
    <ul>
        <li>AngularJS: Part 1</li>
        <br />
        <li>Neil Nand</li>
        <li class="sub">neilnand@gmail.com</li>
        <li class="sub">neilnand.com</li>
    </ul>
</article>