<!DOCTYPE html>

<html ng-app="myApp">

<head>

    <title>Core Elements</title>

    <script src="./../js/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="main.js"></script>

</head>
<body>

    <h1>Timer</h1>

    <!--<div ng-controller="buttonController">-->

        <!--<button ng-click="start();">{{ startLabel }}</button>-->
        <!--<button ng-click="split();" ng-disabled="!isRunning">Split</button>-->

    <!--</div>-->

    <!--<clock></clock>-->

    <!--<div ng-controller="splitController">-->
        <!--<ul>-->
            <!--<li ng-repeat="item in list">-->
                <!--<span class="session">Session: {{ item.session }}</span>-->
                <!--<span class="time">{{ item.time | timeFormat }}</span>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</body>
</html>