body {
    font-family: verdana, sans-serif;
}

clock {
    margin: 20px;
}

ul {
    list-style-type: none;
}

ul span {
    display: inline-block;
}

.session {
    font-size: .8em;
    width: 110px;
}